.container { 
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap; 
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;  
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 99vh;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Righteous";

  

  @media only screen and (max-width: $bp-medium) {  
     
    -webkit-flex-direction: column;
    -ms-flex-direction: column; 
    flex-direction: column; 
    justify-content: center ; 
    height: 100%; 
  }

  .sidebar {
    height: 100%;
    background-color: #0d0d0d;  
    

    &--left {  
      -webkit-order: 0; 
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: center; 
      -ms-flex-item-align: center;
      align-self: center; 
      background-color: #0d0d0d;
      height: 100%; 
      padding: 1%;

      @media only screen and (max-width: $bp-medium) {  
     
        -webkit-flex-direction: row;
        -ms-flex-direction: row; 
        flex-direction: row; 
        justify-content: center ; 
        height: 100%; 
      }
      
      

      .flex-container { 
        height: 100%; 
        justify-content: center !important; 
        align-items:center;

        .menu {
          color: #fff;
        }
        .mivi-logo {
          
          height: 100%;
          position: relative;
          text-align: center;
          
 
            img {
              position: absolute;
              margin: auto; 
              top: 0;
              left:auto;
              right: auto; 
              bottom: 0; 
              max-height: 10em;
          } 
           
        }
        .social-icons {  
          color: #fff; 
       
          svg {
            display: block; 
            margin-bottom: 150% ;
          }
        }
      }
 
    }
    &--right { 
      -webkit-order: 0; 
      -ms-flex-order: 0;
      order: 0;  
      -webkit-flex: 0 1 auto; 
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch; 
      border-left: 1px solid #efefef; 
      background-color: #0d0d0d;  
      padding: 1%;
      max-height: 100%;

      .flex-container { 
        height: 100%;
        position: relative;
        text-align: center;
        padding-bottom: 10%;

        .search {
          svg {
            color: #fdfdfd;
          }
        }
        .slider-dots 
        {
          max-height: 100%;
          position: relative;
          margin: auto; 
          top: 30%;
          left:auto;
          right: auto;
          bottom: 0;   
          list-style-type: none;  
          align-items: center; 
          justify-content: center;  

          .mcircle{
            border: 0.68px solid #fff; 
            -moz-border-radius: 50%;  
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;  
            margin: 0.6em;
            margin-bottom: 1.2em;
            background-color: #fff;
            /*-moz-outline-radius:30px;*/
              
            &-dot {
              box-shadow: 0px 0px 0px 3px #000 inset; 

            }
          }
        }
        .icons-bottom {
           
          svg { 
            display: block;
            margin-bottom: 1em;
            color: #828383;
          }
        }
      } 
    } 
  }
  .main {
    max-height: 100%;

    
    &--left { 
      -webkit-order: 0; 
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto; 
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      padding: 1%; 
      text-align: center;
      z-index: 10; 

      .main-header {
        color: $neon-green;
        font-size: 2.5em; 
        letter-spacing: 4px;
        line-height: 2em;
        background-color: #050707;
        max-width: 10em;
        max-height: 2em;
        text-align: center; 
 
      }
      .main-content {  
        max-width: 100%; 
        max-height: fit-content;
         
        margin-top: 25%; 

        h1 {
          font-size: 7em;
          letter-spacing: 0.2em; 
          line-height: 1em; 
          color: #0d0d0d;
          font-weight: 400;
          font-family: "Righteous";
          text-transform: uppercase; 
          text-align: left; 
        }
        h2 {
          font-size: 5em; 
          letter-spacing: 0.4em;
          line-height: 1em;
          color: #0d0d0d;   
          margin-right: -35%;
          background-color: #fff; 
          z-index: 10;
          text-align: right;
        } 
        .info {
          max-width: 60%; 
          font-size: 1em; 
          line-height: 1.5em;  
          color: #000 ; 
          word-wrap: break-word; 
          text-align: justify;  
          text-justify: inter-word;
          padding: 7% 0; 
        }
        .read-more {
          width: 70%;
          font-size: 1em;
          letter-spacing: 3px; 
          line-height: 1em; 
          color: #000; 
          border: 0;
          background-color: #fff; 
          text-transform: uppercase;
          margin-top: 15%; 
          margin-left : -40%; 
          
          text-indent: 40%;
          border-bottom: 1px solid #000; 
          text-align: right;
          padding: 2%;
         
        }
        .select-color {
          display: block;
          text-align: left;
          padding: 5%;
          font-size: 1em;
          letter-spacing: 3px;
          line-height: 1.2em;
          color: #000; 

          &__h {
            text-transform: uppercase;
            margin-bottom: 1em;
          }
          &__ul { 
            list-style: none;
            display: inline;
            margin-top: 5%;

            li { 
              display: inline-block;
              border-radius: 50%;
              width: 2em;
              height: 2em; 
              border: 1px solid #b3b3b3;
              margin-right: 3%;
            } 
            .black-color { 
              background-color: #000;  
            }  
            .white-color {
              background-color: #fff;
            }
            .blue-color {
              background-color: #0000ff;
            }
          }
        }
        .price {
          display: inline-block;
          width: 100%;

          &__p {
            max-width: 25%;
            font-size: 4em;
            letter-spacing: 10px;
            line-height: 1em;
            color: #000 ; 
            display: inline;
            text-align: left;
            float: left;
          }
          &__button { 
            width: 10em; 
            font-size: 1.75em;
            letter-spacing: 4px; 
            line-height: 2em; 
            color: #0d0d0d; 
            background-color: $neon-green;
            float: right;
            border: 0;
          }
        }
      }
    } 
    &--right { 
      width: 85%;
      height: 100%; 
      z-index: 1;

      -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 3 1 auto;
          -ms-flex: 3 1 auto;
          flex: 3 1 auto;
          -webkit-align-self: stretch;
          -ms-flex-item-align: stretch;
          align-self: stretch; 
      
      .flex-container {
        -webkit-align-self: flex-end; 
        -ms-flex-item-align: flex-end;
        align-self:flex-end;

        .main-img { 
          background-color: #050707; 
          max-height: 100%;
          align-self: center; 
          padding-bottom: 10%; 
          position: relative;
          

          img {
            object-fit: contain; 
            width: 100%;
            height: 90%; 
            margin: auto; 
            display: block;
          }
          .arrow {
            width: 0;   
            height: 0; 
            border-top: 1.5em solid transparent;
            border-bottom: 1.5em solid transparent;  
            border-left: 1.5em solid #fff; 
            z-index: 20;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 auto;
          }
        }
        .stars {
          margin-top: -15%;
          padding: 5%;
          color: $neon-green;

          text-align: right;
          width: 100%;

          &-reviews {
            font-size:1.3em;
            letter-spacing: 4px;
            line-height: 1.3em;
            color: #ffffff;
            
            text-transform: uppercase;
          }
        }

    }
    }
  }

  .fitem{
    align-self: center;
    min-width: 10vw; 
    height: 100%;

    .flex-container {
      height: 100%;
      display: -ms-flexbox;
      display: -webkit-flex; 
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-self: center; 
      -ms-flex-item-align: center;
      align-self: center; 

      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; 
     
      .flex-item { 
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        max-width: 100%; 
        padding: 2%;
   
        &:nth-child(1) {
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 0 1 auto; 
          -ms-flex: 0 1 auto;
          flex: 0 1 auto; 
        
              
        }

       
  
        &:nth-child(2) {
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto; 
          /* max-height: 60%; */
        }
  
        &:nth-child(3) {
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
         
        }
    }
  }

  } 

}